html {
    background-repeat: no-repeat;
    background-size: cover;
    height: 100%;
    width: 100%;
    margin: 0; 
    color:white;
    font-family: 'Montserrat', sans-serif;
}

button {
    color: white;
    background: none;
    border: none;
}

button:hover {
    color: rgb(255, 238, 0);
}

.working{
    background: #200122;  /* fallback for old browsers */
    background: -webkit-linear-gradient(to top, #6f0000, #200122);  /* Chrome 10-25, Safari 5.1-6 */
    background: linear-gradient(to top, #6f0000, #200122); /* W3C, IE 10+/ Edge, Firefox 16+, Chrome 26+, Opera 12+, Safari 7+ */
}

.relaxing{
    background: #360033;  /* fallback for old browsers */
    background: -webkit-linear-gradient(to top, #0b8793, #360033);  /* Chrome 10-25, Safari 5.1-6 */
    background: linear-gradient(to top, #0b8793, #360033); /* W3C, IE 10+/ Edge, Firefox 16+, Chrome 26+, Opera 12+, Safari 7+ */
}

.content {
    padding-top: 3vh;
}

.container, .settings {
    display: flex
}

.container {
    justify-content: space-evenly;
}

.settings {
    flex-direction: column;
    text-align: center;

}

.settings p span{
    display: inline-block;
    width: 2.5rem;
}

#timer-time {
    padding: 2rem 0 3rem 0;
}

#spent-time{
    font-size: 1.5rem;
}

#circle{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    border: 1px solid white;
    border-radius: 100%;
    padding: 3rem;
    margin-bottom: 2rem;
    font-size: 2.9rem; 
    width: 16rem;
    height: 16rem;
}

#state, #spent-time {
    height: 2.5rem;
}

#timer-time, #spent-time, #state {
    margin: 0;
    width: 15rem;
    text-align: center;
}

#controls button{
    font-size: 2.5rem;
}

#timer-settings button, #timer-settings span, #state {
    font-size: 2rem;
}