html {
    position: relative;
    min-height: 100%;
    color:white;
    font-family: 'Montserrat', sans-serif;
}

body {
    margin: 0; 
}

button {
    color: white;
    background: none;
    border: none;
}

button:hover {
    text-shadow: 0 0 15px white;
}

.working{
    background: #03001e;  /* fallback for old browsers */
    background: -webkit-linear-gradient(to bottom, #03001e, #b10245, #03001e);  /* Chrome 10-25, Safari 5.1-6 */
    background: linear-gradient(to bottom,#03001e, #b10245, #03001e); /* W3C, IE 10+/ Edge, Firefox 16+, Chrome 26+, Opera 12+, Safari 7+ */
    background-size: 100% 300%;
    animation: gradient 20s infinite alternate;
}

.relaxing{
    background: #360033;  /* fallback for old browsers */
    background: -webkit-linear-gradient(to bottom, #360033, #0b8793, #360033);  /* Chrome 10-25, Safari 5.1-6 */
    background: linear-gradient(to bottom, #360033, #0b8793, #360033); /* W3C, IE 10+/ Edge, Firefox 16+, Chrome 26+, Opera 12+, Safari 7+ */
    background-size: 100% 300%;
    animation: gradient 20s infinite alternate;
}

@keyframes gradient {
    0% {
        background-position-y: 0%;
    }
    100% {
        background-position-y: 100%;
    }
    0% {
        background-position-y: 0%;
    }
}

.content {
    padding-top: 3vh;
}

.container, .settings {
    display: flex
}

.container {
    justify-content: space-evenly;
}

.settings {
    flex-direction: column;
    text-align: center;

}

.spent-time{
    font-size: 1.2rem;
}

.settings p span{
    display: inline-block;
    width: 2.5rem;
}

#timer-time {
    padding: 2rem 0 1rem 0;
}

#circle{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    border: 1px solid white;
    border-radius: 100%;
    padding: 3rem;
    margin-bottom: 2rem;
    font-size: 2.9rem; 
    width: 16rem;
    height: 16rem;
}

#state, .spent-time {
    height: 2.5rem;
}

#timer-time, .spent-time, #state {
    margin: 0;
    width: 15rem;
    text-align: center;
}

#controls button{
    font-size: 2.5rem;
}

#timer-settings button, #timer-settings span, #state {
    font-size: 2rem;
}